<div class="container">
    <ul class="collection with-header">
        <li class="collection-header">
            <div class="row">
                <div class="col s12">
                    <h4>Boats</h4>
                </div>
            </div>
        </li>
        <li *ngFor="let boat of boats" class="collection-item">
            <div>
                {{ boat.name }}
                <button class="btn-small modal-trigger right indigo lighten-5" data-target="addBoatModal"
                    (click)="openEditBoatModal(boat)">
                    <a class="secondary-content">
                        <i class="material-icons">edit</i>
                    </a>
                </button>
                <button class="btn-small modal-trigger right indigo lighten-5 spacing-right-15"
                    data-target="confirmDeleteModal" (click)="openDeleteBoatModal(boat)">
                    <a class="secondary-content">
                        <i class="material-icons">delete</i>
                    </a>
                </button>
            </div>
        </li>
    </ul>
    <button data-target="addBoatModal" (click)="openNewBoatModal()"
        class="fixed-action-btn btn modal-trigger botton-right">Add Boat</button>

    <app-boat-form [boat]="selectedBoat" (boatAdded)="getBoats()" (boatUpdated)="getBoats()"></app-boat-form>
    <app-boat-delete [boat]="selectedBoat" (onConfirm)="deleteBoat()"></app-boat-delete>
</div>